---
layout: home
---

<!-- <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner" role="listbox">
	  <div class="item active">
		<img src="https://img.mayun.xin/upload/2020031606/ea736caee7c07d6fbaed0b42a059cdd1.JPG?x-oss-process=image/resize,w_1600,limit_0/format,jpg/quality,Q_90/contrast,-60" alt="...">
		<div class="carousel-caption">
		</div>
	  </div>
	  <div class="item">
		<img src="https://img.mayun.xin/upload/2020031606/ea736caee7c07d6fbaed0b42a059cdd1.JPG?x-oss-process=image/resize,w_1600,limit_0/format,jpg/quality,Q_90/contrast,-60" alt="...">
		<div class="carousel-caption">
		</div>
	  </div>
	</div>
  
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	  <span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	  <span class="sr-only">Next</span>
	</a>
  </div> -->

<!-- <div class="index-banner">
  <div class="slide-image" style="background-image: url(https://img.mayun.xin/upload/2020031606/ea736caee7c07d6fbaed0b42a059cdd1.JPG?x-oss-process=image/resize,w_1600,limit_0/format,jpg/quality,Q_90);"></div>
	<div class="slide-content container">
		<p class="slogan" >Sharing and Cooperation is the Best Prescription</p>
		<p class="slogan-description">Financial Aid Programme for the Control and Prevention of COVID-19</p>
		<a href="/program/covid-19/fund" class="btn btn-round slogan-info" role="button">LEARN MORE</a>
	</div>
</div> -->


<section class="latest-news-section container">
	<div class="latest-news-card">
		<a class="indicator" href="/blog">Latest Updates ‣</a>
		<div class="news">
			<!-- <div class="row tweets">
				<div class="col-md-4">
					<blockquote class="twitter-tweet" data-conversation="none" data-cards="hidden"><p lang="en" dir="ltr">Following donations to 150+ countries &amp; regions, we will provide 100M masks, 1M N95 masks, and 1M test kits to <a href="https://twitter.com/WHO?ref_src=twsrc%5Etfw">@WHO</a>. The supplies will be distributed to those in most need. Together, we must move faster and with confidence to overcome this global challenge. <a href="https://twitter.com/hashtag/OneWorldOneFight?src=hash&amp;ref_src=twsrc%5Etfw">#OneWorldOneFight</a></p>&mdash; Jack Ma Foundation (@foundation_ma) <a href="https://twitter.com/foundation_ma/status/1252427662338879489?ref_src=twsrc%5Etfw">April 21, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
				<div class="col-md-4">
					<blockquote class="twitter-tweet" data-conversation="none" data-cards="hidden"><p lang="en" dir="ltr">Our 3rd donation to Africa will immediately be made to <a href="https://twitter.com/_AfricanUnion?ref_src=twsrc%5Etfw">@_africanunion</a> and <a href="https://twitter.com/AfricaCDC?ref_src=twsrc%5Etfw">@AfricaCDC</a>. This includes 4.6m masks, 500k swabs &amp; test kits, 300 ventilators, 200k clothing sets, 200k face shields, 2k thermal guns, 100 body temp. scanners and 500k pairs of gloves. <a href="https://twitter.com/hashtag/OneWorldOneFight?src=hash&amp;ref_src=twsrc%5Etfw">#OneWorldOneFight</a></p>&mdash; Jack Ma Foundation (@foundation_ma) <a href="https://twitter.com/foundation_ma/status/1252136695320899584?ref_src=twsrc%5Etfw">April 20, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
				<div class="col-md-4">
					<blockquote class="twitter-tweet" data-conversation="none" data-cards="hidden"><p lang="en" dir="ltr">A second handbook, which focuses on hospital response strategy and frontline treatment experience, is now available. We hope it will be another valuable resource for doctors around the world. Please help share! (2/2) <a href="https://twitter.com/hashtag/OneWorldOneFight?src=hash&amp;ref_src=twsrc%5Etfw">#OneWorldOneFight</a> <a href="https://t.co/DMvUqabe10">https://t.co/DMvUqabe10</a> <a href="https://t.co/xqm3S7woa5">pic.twitter.com/xqm3S7woa5</a></p>&mdash; Jack Ma Foundation (@foundation_ma) <a href="https://twitter.com/foundation_ma/status/1248901646198779905?ref_src=twsrc%5Etfw">April 11, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
			</div> -->

			{% for post in site.posts limit:3 %}
			<div class="news-item">
				<span class="publish-date">{{ post.date | date: "%m-%d" }}</span>
				{% if post.source %}
				<a class="news-title" href="{{ post.source_url }}" target="_blank">{{ post.title }}</a>
				{% else %}
				<a class="news-title" href="{{ post.url }}">{{ post.title }}</a>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<section class="sec fields-section" style="margin-bottom: 60px;">
	<div class="container">
		<h3 class="sectitle" style="text-align: left;">Our Work</h3>
		<div class="fields">
			<div class="field">
				<a href="/our-work/#field-entrepreneurship">
					<div class="field-cover" style="background-image: url(https://img.mayun.xin/upload/2020031604/2a047da016856baa7ba4e086b0fcc799.png?x-oss-process=image/resize,w_1000,h_700/format,jpg)">
					</div>
					<div class="field-content">
						<div class="field-name">Entrepreneurship</div>
						<div class="field-slogan">Empowering entrepreneurs to become heroes of society and drive positive change</div>
						<div class="btn">Learn More</div>
					</div>
				</a>
			</div>
			<div class="field field-active">
				<a href="/our-work/#field-education">
					<div class="field-cover" style="background-image: url(https://img.mayun.xin/upload/2020031605/f79724727b767dc6353c35d3224857b7.jpg?x-oss-process=image/resize,w_1000,h_700/format,jpg)">
					</div>
					<div class="field-content">
						<div class="field-name">Education</div>
						<div class="field-slogan">Enabling children to become a better version of themselves</div>
						<div class="btn">Learn More</div>
					</div>
				</a>
			</div>
			<div class="field">
				<a href="/our-work/#field-medical">
					<div class="field-cover" style="background-image: url(https://img.mayun.xin/upload/2020031513/9b67de1780e6ab91babf2f612326610a.jpg?x-oss-process=image/resize,w_1000,h_700/format,jpg)">
					</div>
					<div class="field-content">
						<div class="field-name">Medical and Environmental Protection</div>
						<div class="field-slogan">Working for bluer skies, cleaner waters and healthier bodies</div>
						<div class="btn">Learn More</div>
					</div>
				</a>
			</div>
			<div class="field">
				<a href="/our-work/#field-women-leadership">
					<div class="field-cover" style="background-image: url(https://img.mayun.xin/upload/2020031607/72c4cacf04e775699b815be30daaafa5.png?x-oss-process=image/resize,w_1000,h_700/format,jpg)">
					</div>
					<div class="field-content">
						<div class="field-name">Women's Leadership</div>
						<div class="field-slogan">Empowering women makes the world a better place</div>
						<div class="btn">Learn More</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>



<!-- 
<section class="sec feature-startups">
	<div class="container">
		<h3 class="sectitle">孵化团队</h3>
    	<ul class="startup-list">
		  {% for title in site.home_startups %}
		    {% assign results = site.startup | where:"title", title %}
		    {% assign item = results.first %}
		    <li>
		      <div class="item">
		        <div class="item-cover">
		          <a href="{{ item.url }}">
		          	<img src="{{ item.cover | prepend: site.qiniu_upload }}"/>
		          </a>
		        </div>
		        <div class="item-body">
		          <h3>
		            <a class="post-link" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
		          </h3>
		          <p>{{ item.desc }}</p>
		        </div>
		      </div>
		    </li>
		  {% endfor %}
		</ul>
    </div>
</section>

<section class="sec service">
	<div class="container">
		<h3 class="sectitle">服务内容</h3>
    	<div class="row service-collums">
		  <div class="col-md-4 item">
		  	<div class="cbox">
			  	<div class="service incubator"></div>
			  	<h4 class="">创业孵化</h4>
			  	<p>把握产品需求定位、研发技术引导；团队组建、执行管理；后续商业价值的转换引导</p>
			 </div>
		  </div>
		  <div class="col-md-4 item">
		  	<div class="cbox">
			  	<div class="service education"></div>
			  	<h4 class="">创业教育</h4>
			  	<p>与学校、优秀企业合作，开设多种类的创新创业基础课程，激发团队创造潜力</p>
			</div>
		  </div>
		  <div class="col-md-4 item">
		  	<div class="cbox">
			  	<div class="service invest"></div>
			  	<h4 class="">创业投资</h4>
			  	<p>提供百万元内的天使投资，并对接后续投资机构</p>
			</div>
		  </div>
		</div>
	</div>
</section>

<section class="sec ending">
	<div class="container center">
		<p class="epilogue">如果你也是怀揣梦想，正在做一件有意思的产品或服务，那么欢迎联系我们</p>
		<a href="/service/" class="btn btn-round go-detail" role="button">了解更多</a>
	</div>
</section> -->




