/**
 * Custom
 **/

$brandColor: #ff7200;

// @font-face {
//     font-family: Butler;
//     src: url(/assets/fonts/Butler_Regular.otf);
//     font-weight: 400;
// }

// @font-face {
//     font-family: Butler;
//     src: url(/assets/fonts/Butler_Medium.otf);
//     font-weight: 700;
// }

// @font-face {
//     font-family: Butler;
//     src: url(/assets/fonts/Butler_ExtraBold.otf);
//     font-weight: 800;
// }

@font-face {
    font-family: AlibabaSans;
    src: url(/assets/fonts/AlibabaSans-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: AlibabaSans;
    src: url(/assets/fonts/AlibabaSans-Medium.otf);
    font-weight: 700;
}

@font-face {
    font-family: AlibabaSans;
    src: url(/assets/fonts/AlibabaSans-Heavy.otf);
    font-weight: 800;
}




body {
    -webkit-font-smoothing: antialiased;
    font-family: AlibabaSans, "Classic Grotesque W01", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
    font-size: 15px;
}


.font-serif {
    // font-family: Butler,QingKe,sans-serif,SimSun
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a {
    color: #333;
    &:hover {
        color: $brandColor;
    }
    -webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    transition: color .3s linear;
}

.navbar {
    min-height: 80px;
    margin-bottom: 0px;
    border-radius: 0;
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    .container {
    }
    
    .navbar-header {
        h1 {
            margin: 0px;
        }
        .navbar-toggle {
            margin-top: 24px;
        }
    }

    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        height: 80px;
        line-height: 80px;
        font-size: 24px;
        font-weight: 700;
        color: #555;

        .logo {
            margin: 15px 0;
            height: 50px;
        }
    }

    .navbar-nav {
        float: right;
        margin-right: -15px;
        li {
            margin-left: 20px;
            a {
                color: #fafafa;
                padding-top: 0;
                padding-bottom: 0;
                line-height: 80px; 
                height: 80px;
                font-size: 16px;

                &:hover {
                }
            }

        }
        &.navbar-social{
            margin-top: 18px;
            span {
                margin-left: 5px;
            }
        }
    }

}

.navbar-inverse {
    border: none;
    background: transparent;
    box-shadow: none;
    box-sizing: content-box;
    .navbar-nav {
        .active{
            a {
                color: white;
                background: transparent;
                font-weight: 700;
                &:hover {
                    color: $brandColor;
                    background: transparent;
                }
            }
        }
        .focus {

        }
    }
}

a {
    &:hover {
        text-decoration: none;
    }
}

.page-content {
    padding-bottom: 0;
    position: relative;
    z-index: 1;

    .page {
        padding-bottom: 60px;
    }
}

.site-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #767676;
    font-size: 14px;
    background: #333;
    line-height: 30px;

    .qrcode {
        text-align: center;
        img {
            width: 100px;
            margin-bottom: 10px;
        }
    }

    .container {
        position: relative;
    }

    .social {
        position: absolute;
        right: 0;
        top: 0;
        a {
            color: #fff;
            display: inline-block;
            width: 30px;
            height: 30px;
            vertical-align: middle;
            border-radius: 50%;
            background: #888888;
            margin-left: 10px;
            font-size: 15px;
            line-height: 30px;
            text-align: center;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;

            &.fa-weixin img {
                display: none;
            }

            &.fa-weixin:hover {
                background: #44b549;
                img {
                    display: block;
                    width: 120px;
                    position: absolute;
                    left: 95px;
                    bottom: 50px;
                    border: 1px solid #e0e0e0;
                    border-radius: 2px;
                }
            }
            &.fa-weibo:hover {
                background: #E46F6C;
            }
            &.fa-envelope:hover {
                background: #47a6d9;
            }
            &.fa-rss:hover {
                background: #e9640e;
            }
        }
    }
}

.icon {
    width: 24px;
    height: 24px;
}

img {
    max-width: 100%;
    vertical-align: middle;
}


.home-swiper {
    position: relative;
    overflow: hidden;
}

.swiper-background {
    width: 100%;
    height: 600px;
    position: relative;
    background-position: center;
    background-size: cover;
    position: absolute;
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='50');

    &::after {
        content: ' ';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0,0,0,0.2);
    }

}

.swiper-container {
    width: 100%;
    max-width: 1600px;
    height: 100%;

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        text-align: left;
        color: white;
        position: relative;

        .swiper-image {
            width: 100%;
            height: 600px;
            background-position: center;
            background-size: cover;
            
            &.mask::after {
                content: ' ';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(54, 61, 77, 0.5);
            }
        }

        .swiper-content {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 220px;

            .slogan {
                font-size: 42px;
                font-weight: bolder;
                text-shadow: 1px 2px 4px rgba(0,0,0,0.2);
            }
            .slogan-description {
                font-size: 18px;
                color: #fafafa;
            }
            .slogan-info {
                margin-top: 30px;
                font-size: 14px;
            }
            .btn {
                color: #fafafa;
                border: 1px solid rgba(255,255,255,0.8);
                font-weight: bold;
                margin-top: 20px;
                background: rgba(0,0,0,0.1);
    
                &:hover {
                    background-color: rgba(255,255,255,0.2);
                    border-color: rgba(255,255,255,0.9);
                    color: white;
                }
            }
        }
    }

    .swiper-pagination {
        bottom: 20px;
        .swiper-pagination-bullet {
            background: white;
            opacity: 0.4;
        }
        .swiper-pagination-bullet-active {
            background: white;
            opacity: 0.8;
        }
    }

    @media screen and (max-width: 768px) {
        .swiper-slide {
            .swiper-image {
                height: 400px;
                &.mask::after {
                    background: rgba(54, 61, 77, 0.6);
                }
            }
            .swiper-content {
                bottom: 100px;
                .slogan {
                    font-size: 24px;
                    line-height: 1.2;
                }
                .slogan-description {
                    font-size: 14px;
                    color: #fafafa;
                    margin-top: 6px;
                }
                .btn {
                    margin-top: 6px;
                    padding: 6px 30px;
                    font-size: 12px;
                }                
            }
        }

        .swiper-pagination {
            display: block;
            bottom: 20px;
            .swiper-pagination-bullet {
                width: 6px;
                height: 6px;
                margin: 0 3px;
            }
        }
    }
}

.index-banner {
    color: white;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 600px;

    .slide-image {
        background-image: url(https://img.mayun.xin/upload/2020031606/ea736caee7c07d6fbaed0b42a059cdd1.JPG?x-oss-process=image/resize,w_1600,limit_0/format,jpg/quality,Q_90/contrast,-40);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;

        &::after {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(54, 61, 77, 0.6);
        }
    }

    .slide-content.container {
        height: 100%;
        padding-top: 150px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .slogan {
        margin-top: 140px;
        font-size: 42px;
        font-weight: bolder;
        text-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    }
    .slogan-description {
        font-size: 18px;
    }
    .slogan-info {
        margin-top: 30px;
        font-size: 14px;
    }
    .btn {
        color: #fafafa;
        border: 1px solid rgba(255,255,255,0.8);
        font-weight: bold;
        margin-top: 20px;
        background: rgba(0,0,0,0.1);
    }
}

.btn-round {
    border-radius: 100px;
    padding: 10px 60px;
    background: transparent;
    color: #aaaaaa;
    font-size: 18px;
    border: 1px solid #aaaaaa;
    display: inline-block;

    &:hover {
        background-color: rgba(255,255,255,0.2);
        border-color: rgba(255,255,255,0.9);
        color: white;
    }
}


.latest-news-section {
    twitter-widget {
        width: auto !important;
    }
    .latest-news-card {
        background: white;
        overflow: hidden;
        padding: 15px 30px;
        border-radius: 6px;
        box-shadow: 0 2px 20px 0 rgba(0,0,0,.05);
    }
    .indicator {
        font-size: 16px;
        float: left;
        color: $brandColor;
        font-weight: bold;
        border: 2px solid $brandColor;
        padding: 4px 15px;
        color: white;
        background: $brandColor;
        border-radius: 50px;
        margin: 8px 0;
        font-style: italic;
        margin-right: 40px;
    }
    .tweets {
        .SandboxRoot.env-bp-min .Tweet-card {
            display: none;
        }
    }

    .news {
        float: left;
        line-height: 2.2;
        margin-bottom: 0;
        margin-left: 0;
        padding-inline-start: 0px;
        .news-item {
            list-style-type: none;
            margin: 10px 0;
            line-height: 1.6;
            .publish-date {
                margin-right: 15px;
                opacity: 0.8;
                float: left;
            }
            .news-title {
                display: block;
                margin-left: 80px;
                line-height: 1.6;
            }
        }
    }
}


.fields-section {
    margin-top: 55px;
    .fields {
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        overflow: hidden;
        margin: 0;
        .field {
            overflow: hidden;
            margin-bottom: 90px;
            position: relative;
            float: left;
            box-sizing: border-box;
            font-size: 0px;
            width: 22%;
            transition: width .5s;
            -ms-transition: width .5s;
            -moz-transition: width .5s;
            -webkit-transition: width .5s;
            -o-transition: width .5s;
            border: 2px solid white;

            a {
                display: block;
            }
            

            .field-cover {
                background-size: cover;
                background-position: center center;
                height: 500px;
                border: 1;
                border-radius: 2px;
                position: relative;

                &::after {
                    background: linear-gradient(180deg, rgba(74,74,74,0.05) 0%, rgba(0,0,0,0.6) 100%);
                    
                    // background: rgba(0,0,0,0.4);
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    content: ' ';
                }
            }

            .field-content {
                position: absolute;
                bottom: 50px;
                left: 20px;
                right: 20px;
                color: white;
                .field-name {
                    font-size: 24px;
                    font-weight: 700;
                    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
                }
                .field-slogan {
                    font-size: 18px;
                    margin-top: 10px;
                    opacity: 0;
                    display: none;
                }
                .btn {
                    display: none;
                    opacity: 0;
                    border-radius: 40px;
                    border: 1px solid rgba(255,255,255,0.8);
                    padding: 4px 15px;
                    margin-top: 20px;
                }
            }

            &.field-active {
                width: 34%;

                .field-cover::after {
                    background: rgba(255, 114, 0, 0.8)
                }

                .field-content {
                    .field-slogan {
                        display: block;
                        opacity: 1;
                    }
                    .btn {
                        opacity: 1;
                        display: inline-block;
                    }
                }
            }
        }
    }
}


.center {
    text-align: center;
}

.banner {
    background: #333;
    background-size: cover;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;

    h2 {
        line-height: 1.4;
    }

    p {
        font-size: 18px;
    }

    .banner-content {
        padding-top: 150px;
        padding-bottom: 50px;
        background: rgba(54,61,77,.2);

        .page-title {
            color: white;
            font-size: 40px;
            font-weight: 700;
        }
    }
}

.featured-program {
    display: block;
    width: 100%;
    position: relative;

    img {
        border-radius: 8px;
    }

    .pc {
        display: block;
    }

    .mobile {
        display: none;
    }

    // &::after {
    //     content: ' ';
    //     background: rgba(0,0,0,0.2);
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     z-index: 0;
    // }

    .feature-program-title {
        text-align: center;
        color: white;
        font-size: 24px;
        font-weight: bold;
        z-index: 200;
    }
}

/**  Page Programs  **/
.page-programs {
    .main-content {
    }

    .program-section {
        display: block;
        position: relative;
        padding: 60px 0;
        border-bottom: 1px solid #e0e0e0;
        .heading {
            margin-bottom: 20px;
            margin-left: -22px;
            h2 {
                color: $brandColor;
                text-transform: uppercase;
                font-weight: 800;
                &::before {
                    content: "/ ";
                    color: $brandColor;
                    font-size: 28px;
                    font-weight: bolder;
                }
            }
            p {
                color: #666;
                margin-left: 22px;
            }
        }
        .program-item {
            overflow: hidden;
            padding: 2px;
            padding: 20px 0;
            position: relative;
            display: block;
            width: 100%;
            .cover {
                width: 360px;
                height: 240px;
                background-size: cover;
                background-position: center;
                border-radius: 4px;
                float: left;
            }
            .content {
                margin-left: 390px;
                .title {
                    margin: 0 0 15px 0;
                }
                .description {
                    line-height: 1.8;
                    color: #666;
                    font-size: 14px;
                }
                .btn {
                    line-height: 28px;
                    min-width: 128px;
                    border: 1px solid $brandColor;
                    border-radius: 100px;
                    text-align: center;
                    font-size: 12px;
                    color: $brandColor;
                    text-transform: uppercase;
                    padding: 0 15px;
                    margin-top: 10px;

                    &:hover {
                        border-color: $brandColor;
                        color: $brandColor;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .latest-news-section {
        .latest-news-card {
            padding: 15px;
            .news {
                .news-item {
                    .news-title {
                        display: block;
                        margin-left: 60px;
                        line-height: 1.6;
                    }
                }
            }
        }
    }

    .sidebar {
        display: none;
    }
    .page-programs {

        .featured-program {
            .pc {
                display: none;
            }
            .mobile {
                display: block;
            }
        }

        .main-content {
            padding: 0;
            width: 100%;
            margin: 0 auto;
        }
        .program-section {
            padding: 30px 0 20px 0;
            .heading {
                margin-left: 0;
                h2 {
                    font-size: 24px;
                }
                p {
                    margin-left: 18px;
                }
            }
            .program-item {
                .cover {
                    width: 100%;
                    float: inherit;
                    display: block;
                }
                .content {
                    width: 100%;
                    margin-left: 0;
                    .title {
                        margin: 15px 0 5px 0;
                        font-size: 20px;
                        line-height: 1.6;
                    }
                    .description {
                        line-height: 1.6;
                    }
                    .btn {
                    }
                }
            }
        }
    }
}


.banner.program-banner {
    .banner-content {
        background: rgba(54,61,77,.2); 
        padding: 210px 0 190px;
        text-align: center; 
        text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
        color: white;
        h2 {
            font-size: 42px;
        }
        .p {
            font-size: 20px;
        }
    }
}

.page-program-single {
    section {
        padding: 40px 0;
        &.even {

        }

        &.odd {
            background: #f9f9f9;
        }

        .section-heading {
            margin: 0 auto;
            font-size: 24px;
            padding: 20px 0;
            text-align: center;
            font-weight: 500;
            position: relative;
            margin-bottom: 40px;

            h2 {
                display: inline;
                position: relative;
                &::after {
                    content: ' ';
                    position: absolute;
                    width: 42px;
                    height: 6px;
                    background-color: #ff7200;
                    text-align: center;
                    bottom: -20px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .section-body {
            p {
                line-height: 1.8;
            }
        }
    }

    .events {
        .event {
            padding: 10px;
            position: relative;
            width: 100%;
            float: left;
            .event-date {
                margin-top: 7px;
                line-height: 1;
                margin-left: 8px;
                font-size: 16px;
                color: #777;
                font-style: italic;
                float: left;
            }
            .event-name {
                display: block;
                margin-left: 90px;
                font-size: 16px;
                line-height: 1.8;
                font-weight: 500;
                transition: all .2s ease-out,transform .2s ease-out,opacity .2s ease-out;
                transition-delay: .1s;
            }
        }
    }
    
    table {
        margin: 0 auto;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        border-collapse: initial;
        border: 1px solid #f0f0f0;
        border-radius: 0;
        margin-top: 15px;
        width: 100%;
        font-size: 14px;

        thead tr {
            height: 48px;
            background: #ecf5ff;
            color: #333;
            border: none;
        }

        tbody tr {
            color: #808080;
            border: none;
        }

        th, td {
            line-height: 1.6;
            padding: 15px 20px;
            border: none;
        }
    }

    .teams {
        .team-item {
            border: 8px solid #fff0e4;
            display: block;
            position: relative;
            height: 240px;
            font-size: 14px;
            padding: 15px;
            line-height: 1;
            margin: 20px 0;
            background: #fff;
            color: #666;
            transition: all .3s ease-out;

            .avatar {
                position: absolute;
                right: -10px;
                height: 250px;
                bottom: 0;
                transition: all .3s ease-out;
            }

            .org {
                position: absolute;
                top: -16px;
                font-size: 18px;
                background: #fff;
                height: 30px;
                line-height: 30px;
                padding: 0 10px;
                left: 5px;
                font-weight: 700;
                color: #333;
                border-radius: 10px;
            }

            .brief {
                height: 195px;
                margin-right: 50px;
                position: relative;
                display: block;

                .name {
                    font-size: 16px;
                    font-weight: 700;
                    margin: 10px 0;
                    line-height: 1.4;
                    color: #333;
                }

                p {
                    line-height: 1.6;
                    margin-bottom: 5px;
                }

                .target {
                    z-index: 10;
                    position: absolute;
                    bottom: 10px;
                }
            }
        }
    }

    .news {
        list-style: none;
        padding-inline-start: 15px;
        .item {
            width: 100%;
            padding: 10px 0 10px 10px;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -ms-flex-pack: justify;
            justify-content: space-between;

            .title {
                line-height: 1.4;
            }

            .date {
                color: #999;
                position: relative;
                float: right;
                width: 140px;
                text-align: right;
            }
        }
        
    }

    .aids {
        .aid {
            margin-bottom: 40px;
            .country {
                font-size: 20px;
                font-weight: bold;
                display: inline-block;
                position: relative;
                z-index: 10;
                margin-bottom: 10px;
                &::after {
                    content: ' ';
                    border-bottom: 8px solid rgba(50, 143, 240, 0.4);
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    left: 0;
                    z-index: -1;
                }
            }
            table {
                overflow-x: auto;
                width: 100%;

                thead {
                    .c1 {
                        width: 150px;
                    }
                    .c2 {
                        width: 300px;
                    }
                }
            }
        }
    }

    .events {
        h3 {
            font-size: 20px;
            margin: 40px 0 15px 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .banner.program-banner {
        .banner-content {
            padding: 110px 0 50px 0;
            h2 {
                font-size: 24px;
                text-align: left;
                line-height: 1.4;
            }
            .p {
                font-size: 14px;
            }
        }
    }

    .page-program-single {
        section {
            &.odd {
                background: white;
            }
            .section-heading h2 {
                font-size: 20px;
                &::after {
                    width: 20px;
                    height: 3px;
                }
            }
        }
        .events {
            .event {
                width: 100%;
            }
        }
    }
}

.program-panel {
    display: none;

    &.active {
        display: block;
    }
}

.related-program-card {
    background: #fff;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.05);
    max-width: 960px;
    margin: -90px auto 60px auto;
    border-radius: 8px;
    padding: 20px 30px 24px 30px;
    line-height: 40px;
    font-weight: bold;
    color: #333;

    .prefix-label {
        float: left;
        font-size: 20px;
    }

    .program-info {
        margin-left: 190px;
        .title {
            font-size: 20px;
        }
    }
}

.page-ncov {
    .banner {

    }
}

.ncov-nav-tabs {
    background: #fafafa;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.05);
    margin: -60px auto 60px auto;
    border-radius: 8px;
    max-width: 1140px;
    padding: 0;
    border: 1px solid #f5f5f5;

    .tab {
        width: 50%;
        float: left;
        text-align: center;
        padding: 15px 10px 32px 10px;
        position: relative;
        cursor: pointer;
        color: #666;
        border-radius: 8px;

        h2 {
            font-size: 24px;
        }

        &.active{
            color: #328ff0;
            background: #fff;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            &:hover {
                color: #328ff0;
            }
            &::after {
                content: '●';
                font-size: 16px;
                bottom: 15px;
                position: absolute;
                left: 50%;
                // background: #328ff0;
                // width: 60px;
                // height: 5px;
                transform: translateX(-50%);
            }
        }

        &:hover {
            color: #333;
        }
    }
}

@media screen and (max-width: 768px) {

    .banner {
        .banner-content {
            padding: 120px 0 30px 0;

            h2 {
                font-size: 20px;
            }
        }
    }

    .page-ncov {
        background: #fafafa;
        padding-bottom: 40px;

        .banner {
            .banner-content {
                padding: 180px 0 60px 0 !important;
            }
        }

        .banner {
            .banner-content {
                padding: 240px 0 80px 0;
            }
        }

        .related-program-card {
            margin: 0 15px;
            margin-top: -40px;
            padding: 15px;
            padding-bottom: 20px;
            line-height: 1.4;
            font-size: 16px;
            background: #fafafa;
            .prefix-label {
                font-style: italic;
                color: #999;
            }
            .program-info {
                margin: 0;
                color: #999;
                display: inline;
                margin-left: 8px;
                .title {
                    font-size: 16px;
                }
            }
        }

        .ncov-nav-tabs {
            margin-left: 15px;;
            margin-right: 15px;
            margin-bottom: 30px;
            margin-top: -40px;
            .tab {
                padding: 15px 15px 25px 15px;
                text-align: left;
                min-height: 170px;
                h2 {
                    font-size: 14px;
                    line-height: 1.6;
                    margin: 10px 0;
                }
                &.active::after {
                    content: ' ';
                    width: 20px;
                    border-bottom: 3px solid #328ff0;
                    bottom: 16px;
                    left: 25px;
                }
            }
        }

        section {
            margin: 15px;
            background: white;
            border-radius: 8px;
            padding: 20px 0px !important;

            .section-heading {
                margin-bottom: 30px;
            }
        }

        .events {
            .event {
                padding: 10px 0;
                .event-date {
                    font-size: 14px;
                    margin-left: 0;
                }
                .event-name {
                    font-size: 16px;
                    margin-left: 70px;
                }
            }
        }

        .donations {
            width: auto;
            margin: 0 -15px;
            border: none;
        }

        .news {
            padding-inline-start: 0;
            .item {
                padding: 10px 0;
            }
        }

        .aids {
            .panel-group {
                display: block;
                margin-bottom: 30px;
            }
            .aid {
                display: none;
                margin-bottom: 30px;
                .country {
                    font-size: 16px;
                    font-weight: bold;
                    display: inline-block;
                    position: relative;
                    z-index: 10;
                    &::after {
                        content: ' ';
                        border-bottom: 8px solid rgba(50, 143, 240, 0.4);
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        left: 0;
                        z-index: -1;
                    }
                }
                table {
                    display: block;
                    overflow-x: auto;
                    width: 100%;

                    thead {
                        .column-3 {
                            width: auto;
                        }
                        
                    }
                    th, td {
                        line-height: 1.4;
                    }
                }
            }
        }
    }
}


/**  Startup  **/

.startups {
    background: #f0f2f7;
    margin-bottom: -60px;
    padding-bottom: 60px;
}

.startup-list {
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
    li {
        float: left;
        width: 25%;
        padding: 15px;
        font-size: 13px;
        line-height: 20px;
        list-style: none;
        
        .item {
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0 0 3px #e1e1e1;
            color: #888;
            overflow: hidden;


            &.go-archive{
                height: 274px;
                text-align: center;
            }

            .item-cover {
                position: relative;
                display: block;
                overflow: hidden;
                height: 150px;
                img {
                    width: 100%;
                    min-height: 150px;
                      -moz-transform: scale(1);
                      -ms-transform: scale(1);
                      -webkit-transform: scale(1);
                      transform: scale(1);
                      -moz-transition-duration: 0.5s;
                      -o-transition-duration: 0.5s;
                      -webkit-transition-duration: 0.5s;
                      transition-duration: 0.5s;
                    
                }
                &:hover {
                    img {
                          -moz-transform: scale(1.1);
                          -ms-transform: scale(1.1);
                          -webkit-transform: scale(1.1);
                          transform: scale(1.1);
                          -moz-transition-duration: 0.5s;
                          -o-transition-duration: 0.5s;
                          -webkit-transition-duration: 0.5s;
                          transition-duration: 0.5s;
                    }
                }
            }
            

            .item-body {
                padding: 25px;
                position: relative;
                text-align: center;
                h3 {
                    margin: 0px;
                    font-size: 18px;
                    a {
                       color: #333;
                       &:hover {
                            color: #666;
                       } 
                    }
                }
                p {
                    margin-top: 15px;
                    margin-bottom: 0;
                    font-size: 14px;
                    height: 40px;
                }
            }
        }
    }
    
}

.startup-header {
    overflow: hidden;
    padding: 0 !important;
    .startup-cover {
        display: block;
        overflow: hidden;
        padding: 0;
        height: 150px;
        img {
            
        }
    }
    .startup-info {
        padding-left: 20px;
        .title {
            font-size: 28px;
            margin-top: 20px;
            margin-bottom: 10px;
            font-weight: 700;
        }
        .desc {

        }
        .addr {
            color: #777777;
            font-size: 14px;
            margin-top: 24px;
            margin-bottom: 15px;
        }
    }
}

.startup {
    .startup-main {
        .intro {
            p {
                line-height: 1.8;
                margin-bottom: 16px;
            }
            h2 {
                font-size: 16px;
            }
        }
        .startup-progress {
            ul li {
                line-height: 2;
                span {
                    float: left;
                    width: 120px;
                }
            } 
        }
        .team {
            padding-bottom: 8px;
            ul {
                list-style: none;
                padding-left: 0;
                li {
                    &.member {
                        float: left;
                        margin-bottom: 10px;
                        width: 100%;
                        .member-avatar {
                            float: left;
                            padding-right: 12px;
                            width: 30%;
                            max-width: 100px;
                            img {
                                border-radius: 2px;
                            }
                        }
                        .member-body {
                            &.full {
                                width: 100%;
                            }
                            float: left;
                            width: 70%;
                            .member-name {
                                margin-bottom: 5px;
                                font-weight: 700;
                                color: #333;
                            }
                            .member-position, .member-desc {
                                color: #666;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.cbox {
    background: #fff;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 20px;

    .box-title {
        border-bottom: 1px solid #f2f2f2;
        margin: 0px;
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 20px;
        margin-top: -5px;
        padding-left: 20px;

        h2 {
            margin: 0 !important;
            font-size: 16px;
            display: inline-block;
            border-bottom: 2px solid #27ae60;
            padding-bottom: 14px;
        }
    }

    ul {
        margin: 0;
    }
}

.sidebar {
    margin-top: 5px;
    overflow: hidden;
    width: 200px;
    .cbox {
        border: none;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        ul {
            list-style: none;
            padding: 0;
        }
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

.nopad {
    padding: 0 !important;
}


/***  Post ***/

.page {
    padding-top: 40px;
}

.post {
    font-size: 16px;
}


.page-posts {
    .cbox {
        border: 1px solid #f3f3f3;
    }

    .post-list {
        padding-right: 40px;
    }

    .twitter-timeline-pc {
        display: inline-block;
    }

    .twitter-timeline-mobile {
        display: none;
    }

    @media screen and (max-width: 768px) {
        .twitter-timeline-mobile {
            display: block;
        }

        .twitter-timeline-pc {
            display: none;

            .col-sm-8 {
                padding: 0;
            }
        }
    }
}


.news-card {
    margin: 20px 0;
    position: relative;
    display: inline-block;
    width: 100%;
    .cover {
        width: 100%;
        height: 210px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .content {
        padding: 15px 0;
        min-height: 100px;
        .title {
            font-size: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3; 
        }
        .date {
            position: absolute;
            top: 170px;
            right: 15px;
            padding: 0 10px;
            border-radius: 20px;
            background-color: rgba(0,0,0,0.2);
            color: white;
        }
    }

    @media screen and (max-width: 768px) {
        margin: 10px 0;
        .cover {
            height: 150px;
        }
        .content {
            padding: 10px 0;
            min-height: auto;
            .date {
                top: 110px;
            }
        }
    }
}

ul.post-list {
    list-style: none;
    padding-left: 0px;
    margin: 0 auto;
    max-width: 800px;
    li {
        font-size: 16px;
        margin-bottom: 25px;
        overflow: hidden;
        background: #fafafa;
        border-radius: 4px;
        .cover {
            width: 200px;
            height: 140px;
            background-size: cover;
            background-position: center;
            float: left;
            position: relative;
            &::after {
                content: ' ';
                background-color: rgba(255,255,255,0);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                -webkit-transition: background-color .3s linear;
                -moz-transition: background-color .3s linear;
                transition: background-color .3s linear;
            }
        }
        .content {
            display: block;
            margin-left: 200px;
            padding: 15px 20px;
        }
        .title {
            font-size: 16px;
            color: #333;
            display: inherit;
            line-height: 1.6;
            font-weight: 500;
            font-weight: bold;
        }
        .date {
            font-size: 14px;
            color: #666;
            margin-top: 4px;
            line-height: 1.6;
        }
        
        &:hover {
            .cover {
                &::after {
                    background: rgba(255,255,255,0.4);
                }
            }
            .title {
                color: $brandColor;
            }
        }
    }

    @media screen and (max-width: 768px) {
        li {
            width: 100%;
            display: block;
            .cover {
                width: 100px;
                height: 100px;
                float: left;
            }
            .content {
                float: inherit;
                width: auto;
                margin-left: 100px;
                padding: 6px 10px 6px 10px;
                .title {
                    font-size: 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2; 
                }
                .date {

                }
            }
        }
    }
}

.posts-category {
    font-size: 16px;
    ul {
        li {
            line-height: 30px;
            a {
                color: #333;
            }
        }
    }
}

.post {
    max-width: 700px;
    width: 100%;
    margin: 0 auto; 

    .post-header {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

}


.sec {
    .sectitle {
        text-align: center;
        margin-bottom: 40px;
        font-family: AlibabaSans;
        font-weight: 800;
    }   
}


article {
    a {
        color: #27ae60;
    }

    p {
        line-height: 1.8;
        margin-bottom: 15px;
    }

    img {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    h1, h2, h3 {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    h1 {
        font-size: 30px;
    }

    h2, h3 {
        font-size: 20px;   
    }

    h4 {
        font-size: 16px;
        line-height: 40px;
    }

    h2 {
        border-bottom: 1px solid #eee;
        padding-bottom: 0.5em;
        margin-top: 50px;
    }

    blockquote {
        font-size: inherit;
        padding: 0 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        p {
            margin-bottom: 0px;
        }
    }

    table {
        font-size: 15px;
    }

    ul, ol {
        margin-bottom: 25px;
        line-height: 1.6;
        li {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    hr {
        height: 1px;
        width: 20%;
        margin: 50px auto;
        border-top: 1px solid #e4e4e4;
    }

    code {
        color: #27ae60;
    }

    pre code {
        color: inherit;
    }
}


.cbox {
    padding: 20px;
}

.title-box,
.posts-category,
.startup-progress {
    padding: 20px;
    ul {
        padding: 0;
        list-style: none;
    }
}




.aids {
    .panel-group {
        border: none;
        margin: 0 -15px;
        display: none;
    }
    .panel-country {
        margin: 2px 0;
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;

        .panel-heading {
            padding: 15px;
            background: #f5f5f5;
            border: none;

            h4 {
                font-weight: 500;
            }

            .toggle-indicator-icon {
                margin-right: 15px;
            }

            .collapsed {
                .toggle-indicator-icon {
                    transform: rotate(-90deg);
                }
            }
        }

        .panel-collapse {
            .panel-body {
                border: none;
            }
        }

        .supply-item {
            padding: 10px 0;
            .line {
                display: block;
                overflow: hidden;
                margin: 5px 0;
                .label {
                    color: #333;
                    font-size: 14px;
                    font-weight: normal;
                    width: 100px;
                    text-align: left;
                    color: #666;
                    font-style: italic;
                    float: left;
                }
                .value {
                    font-size: 14px;
                    margin-left: 100px;
                    display: block;
                }
            }
        }

        hr {
            margin: 10px 5px;
        }
    }

}












/** Service **/

.page {
    a {
        
    }
    .main-content {
        h1.title {
            font-size: 24px;
            margin-top: 0 !important;
            margin-bottom: 40px;
        }
    }
    ul.member-list {
        float: left;
        list-style: none;
        padding: 0;
        li {
            float: left;
            
            padding-right: 30px;
            font-size: 13px;
            line-height: 20px;

            .member-body {
                h3 {
                    margin-top: 5px;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 14px; 
                    margin-bottom: 5px;
                }
            }

        }
    }
    .sidebar {
        .cbox {
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 16px;
        }
        ul {
            padding: 0 !important;
            li {
                line-height: 30px;
                display: inline-block;
                width: 100%;
                a {
                    display: block;
                    line-height: 50px;
                    i {
                        width: 30px;
                        &.right-arrow {
                            display: none;
                            float: right;
                            margin: 0 auto;
                            line-height: 50px;
                            font-size: 14px;
                            text-align: end;
                        }
                    }
                }
                &.active {
                    a {
                        font-weight: bold;
                        &:hover {
                            color: #333;
                        }
                        i.right-arrow {
                            display: inline;
                            color: #27ae60;
                        }
                    }
                }
            }

        }
    }
}


table {
    margin-top: 15px;
    tr {
        background-color: #fff;
        border-top: 1px solid #ccc;
    }
    td, th {
        padding: 6px 13px;
        border: 1px solid #ddd;
    }
}

.full {
    width: 100%;
}

@media screen and (max-width: 992px) {
    .startup-list {
        li {
            width: 50%;
            .item {
                .item-cover {
                    height: 180px;
                    img {
                        min-height: 180px;
                    }
                }
            }
        }
    }
    .startup-header {
        .startup-cover {
            height: auto;
            img {
                width: 100%;
            }
        }
    }
    .startup {
        .startup-main {
            .team {

            }
        }
    }
    .page { 
        .left-divider {
            padding-left: 15px;
            border-left: none;
        }
        .sidebar {
            padding-right: 15px;
            text-align: center;
            margin-top: -20px;
        }
        ul.member-list {
            li {
                width: 50%;
            }
        }
    }
    .page {
        .sidebar {
            text-align: inherit;
            .cbox {
                padding-top: 8px;
                padding-bottom: 8px;
                background-color: #f5f5f5;
            }
            ul li {
                text-align: center;
                width: 49%;
                a {
                    line-height: 60px;
                    i {
                        margin-left: -10px;
                    }
                }
                &.active {
                    a {
                        color: #27ae60;
                    }
                    a i.right-arrow {
                        display: none;
                    }
                }
                &:hover a {
                    color: #27ae60;
                }
            }
        }
    }
}

.clearfix {
    clear: left;
}

@media screen and (max-width: 768px) {
    body {
        font-family: -apple-system,BlinkMacSystemFont,PingFang SC,Helvetica Neue,STHeiti,Microsoft Yahei,Tahoma,Simsun,sans-serif;
    }

    .navbar {
        min-height: 60px;
        .navbar-nav {
            float: none; 
            li {
                margin-left: 0;
                a {
                    &:hover {
                        border-color: transparent;
                        background: #f3f3f3;
                    }
                }
                &.active a {
                    border-color: transparent;
                }
            }
        }

        .navbar-brand {
            .logo {
                margin: 20px 0;
                height: 40px;
                margin-left: -5px;
            }
        }

        &.navbar-inverse {
            .navbar-toggle {
                border: none;

                &:hover {
                    background: rgba(255,255,255,0.3);
                }
            }
        }

        .navbar-collapse {
            border: none;
            position: absolute;
            left: 15px;
            right: 15px;
            background: white;
            box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);
            z-index: 100;

            .navbar-nav li a {
                height: 60px;
                line-height: 60px;
                color: #333;
            }
        }
        
    }
    
    .startup-list {
        li {
            width: 100%;
        }
    }
    ul.member-list {
        li {
            width: 100%;
        }
    }
    .banner {
        h2 {
            font-size: 24px;
            line-height: 1.6;
        }
        p {
            font-size: 16px;
        }

        .banner-content {
            padding-top: 120px;
            padding-bottom: 15px;
            .page-title {
                font-size: 24px;
            }
        }
    }
    .index-banner {
        height: 440px;
        .container {
            padding-top: 0;
        }
        .slogan {
            font-size: 24px;
            margin-top: 210px;
        }
        .slogan-description {
            font-size: 12px;
        }
        .btn {
            margin-top: 10px;
            padding: 6px 30px;
            font-size: 12px;
        }
    }
    .page {
        padding-top: 20px;
        .cbox {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
    .site-footer {
        text-align: center;
        .social {
            position: relative;
            margin-bottom: 20px;
        }
    }

    .sec .sectitle {
        margin-bottom: 35px;
        font-size: 20px;
    }

    .fields-section {
        margin-top: 30px;
        .fields {
            .field {
                width: 100% !important;
                margin-bottom: 15px;
                border: none;
                border-radius: 4px;
                .field-cover {
                    height: 240px;
                    border-radius: 4px;
                    background-position: center top;

                    &::after {
                        background: linear-gradient(180deg, rgba(74,74,74,0.05) 0%, rgba(0,0,0,0.60) 100%);
                    }
                }
                .field-content {
                    top: auto;
                    bottom: 25px;
                    left: 15px;
                    right: 15px;
                    .field-name {
                        font-size: 20px;
                    }
                    .field-slogan {
                        opacity: 1;
                        display: block;
                        font-size: 14px;
                    }
                    .btn {
                        display: none !important;
                    }
                }
                &.field-active {
                    .field-cover::after {
                        background: linear-gradient(180deg, rgba(74,74,74,0.00) 0%, rgba(56,56,56,0.42) 100%);
                    }
                }
            }
        }
    }

}



/**
 * Icons
 */
.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: rgb(130, 130, 130);
        }
    }
}


/** jinshuju **/

.jinshuju {
    border: 1px solid #eee;
    padding: 20px;
}


/** home **/

.home-saying {
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 20px;
    text-align: center;
    margin: 30px 0;
}

.sec {

    &.service {
        background: #f0f2f7;
        padding: 40px 0;

        .service-collums {

        }

        .item {
            text-align: center;

            .cbox {
                height: 270px;
                padding: 40px 30px 30px 30px;
                border-radius: 4px;
                overflow: hidden;
                
                h4 {
                    font-size: 18px;
                    margin: 15px 0px;
                }

                p {
                    font-size: 14px;
                    line-height: 1.8;
                }
            }
        }

        .service {
            width: 90px;
            height: 90px;
            border-radius: 100%;
            overflow: hidden;
            display: inline-block;
            
            &.incubator {
                background: #55A3DA url("/assets/img/service-incubate.png") center center no-repeat;
            }
            &.education {
                background: #DCA559 url("/assets/img/service-education.png") center center no-repeat;
            }
            &.invest {
                background: #E06596 url("/assets/img/service-invest.png") center center no-repeat;
            }
        }
    }

    &.feature-startups {
        background: #fff;
        padding: 40px 20px;

        .startup-list {
            margin-top: -10px;
        }

        .item {
            background-color: #fff;
            border-radius: 2px;
            color: #888;
            border: 1px solid #eee;
            box-shadow: none;
            overflow: hidden;

            .item-cover {
                position: relative;
                display: block;
                overflow: hidden;
                height: 150px;
                img {
                    width: 100%;
                    min-height: 150px;
                      -moz-transform: scale(1);
                      -ms-transform: scale(1);
                      -webkit-transform: scale(1);
                      transform: scale(1);
                      -moz-transition-duration: 0.5s;
                      -o-transition-duration: 0.5s;
                      -webkit-transition-duration: 0.5s;
                      transition-duration: 0.5s;
                    
                }
                &:hover {
                    img {
                          -moz-transform: scale(1.1);
                          -ms-transform: scale(1.1);
                          -webkit-transform: scale(1.1);
                          transform: scale(1.1);
                          -moz-transition-duration: 0.5s;
                          -o-transition-duration: 0.5s;
                          -webkit-transition-duration: 0.5s;
                          transition-duration: 0.5s;
                    }
                }
            }
            

            .item-body {
                padding: 25px;
                position: relative;
                text-align: center;
                h3 {
                    margin: 0px;
                    font-size: 18px;
                    a {
                       color: #333;
                       &:hover {
                            color: #666;
                       } 
                    }
                }
                p {
                    margin-top: 15px;
                    margin-bottom: 0;
                    font-size: 14px;
                    height: 40px;
                }
            }
        }
    }

    &.ending {
        padding-top: 60px;
        .go-detail {
            border: 1px solid #27ae60;
            margin-top: 20px;
            color: #27ae60;
            &:hover {
                color: #fff;
            }
        }
        .epilogue {
            font-size: 18px;
        }
    }
}

