---
layout: default
---

{% include banner.html %}

<div class="container page page-posts">
	<div class="row">
		<div class="col-sm-4 twitter-timeline-mobile" style="margin-top: 10px;">
			<a class="twitter-timeline" height="500" href="https://twitter.com/foundation_ma?ref_src=twsrc%5Etfw">Tweets by Jack Ma Foundation</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
		<div class="col-sm-8 post-list" style="border-right: 1px solid #f0f0f0;">
			<div class="row">
				{% for post in site.posts %}
					{% unless post.draft %}
					<div class="col-sm-6">
						{% if post.source %}
						<a class="news-card" href="{{ post.source_url }}" target="_blank">
							<div class="cover" style="background-image: url('{{ post.cover }}?x-oss-process=image/resize,w_600/');"></div>
							<div class="content">
							<div class="title"><span style="border-radius: 4px; background: #999; font-size: 14px; padding: 2px 6px; color: white; margin-right: 4px">{{ post.source }}</span> {{ post.title }}</div>
							<p class="date">{{ post.date | date: "%Y-%m-%d" }}</p>
							</div>
						</a>
						{% else %}
						<a class="news-card" href="{{ post.url }}" >
							<div class="cover" style="background-image: url('{{ post.cover }}?x-oss-process=image/resize,w_600/');"></div>
							<div class="content">
							<div class="title">{{ post.title }}</div>
							<p class="date">{{ post.date | date: "%Y-%m-%d" }}</p>
							</div>
						</a>
						{% endif %}
					</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="col-sm-4 twitter-timeline-pc" style="margin-top: 10px;">
			<a class="twitter-timeline" height="800" href="https://twitter.com/foundation_ma?ref_src=twsrc%5Etfw" data-cards="hidden">Tweets by Jack Ma Foundation</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
	
	{{ content }}
</div>