<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <div style="position: relative">
    {% include header.html %}
  </div>

  <div class="home-swiper">
    <div class="swiper-background" style="background-image: url(https://img.mayun.xin/upload/2020041310/1d0d35cf795708dcd2b4d68839e098b7.jpg?x-oss-process=image/resize,w_2000,limit_0/format,jpg/quality,Q_90);"></div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for slide in site.data.slides %}
          <div class="swiper-slide">
            {% if slide.title %}
              <div class="swiper-image mask" style="background-image: url({{ slide.image }}?x-oss-process=image/resize,w_2000,limit_0/format,jpg/quality,Q_90);"></div>
            {% else %}
              <div class="swiper-image" style="background-image: url({{ slide.image }}?x-oss-process=image/resize,w_2000,limit_0/format,jpg/quality,Q_90);"></div>
            {% endif %}
            <div class="swiper-content container">
              <p class="slogan">{{ slide.title }}</p>
              <p class="slogan-description">{{ slide.description }}</p>
              {% if slide.title %}
                <a href="{{ slide.url }}" class="btn btn-round slogan-info" role="button">LEARN MORE</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="page-content" style="margin-top: -60px">
    {{ content }}
  </div>

  <script src="{{ "assets/swiper/js/swiper.min.js" | prepend: site.qiniu }}"></script>

  <script>
      var swiper = new Swiper('.swiper-container', {
        loop: true,
        autoplay: {
          delay: 5000,
          disableOnInteraction: false,
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      });
      swiper.on('slideChange', function () {
        var slides = {{ site.data.slides | jsonify }}
        var activeImage = slides[swiper.realIndex]['image']
        $(".swiper-background").attr("style", "background-image: url(" + activeImage + "?x-oss-process=image/resize,w_2000,limit_0/format,jpg/quality,Q_90)")
      });
  </script>

  {% include footer.html %}

</body>

</html>