<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- <div class="index-banner">
        <div class="slide-image" style="background-image: url(https://img.mayun.xin/upload/2020031606/ea736caee7c07d6fbaed0b42a059cdd1.JPG?x-oss-process=image/resize,w_1600,limit_0/format,jpg/quality,Q_90);"></div>
            <div class="slide-content container">
                <p class="slogan" >Sharing and Cooperation is the Best Prescription</p>
                <p class="slogan-description">Financial Aid Programme for the Control and Prevention of COVID-19</p>
                <a href="/program/covid-19/fund" class="btn btn-round slogan-info" role="button">LEARN MORE</a>
            </div>
        </div>
    </div> -->

    
<div class="swiper-container">
    <div class="swiper-wrapper">
      <a class="swiper-slide" href="https://covid-19.alibabacloud.com/#J_8102420620">
        <div class="swiper-image" style="background-image: url(https://img.mayun.xin/upload/2020031709/b8b62518694bf0aae26cc9b7c0e17050.jpg?x-oss-process=image/resize,w_2000,limit_0/format,jpg/quality,Q_90);"></div>
        <div class="swiper-content container">
        </div>
      </a>
      <div class="swiper-slide">
        <div class="swiper-image" style="background-image: url(https://img.mayun.xin/upload/2020032602/eb523ea641976796c6000a763c7825f5.jpg?x-oss-process=image/resize,w_2000,limit_0/format,jpg/quality,Q_90);"></div>
        <div class="swiper-content container">
                <p class="slogan">The Chinese Telemedicine Team Is Here<br/> to Help Fight against COVID-19</p>
                <p class="slogan-description">International Medical Expert Communication Center is offically launched</p>
                <a href="https://covid-19.alibabacloud.com/#J_7231040460" class="btn btn-round slogan-info" role="button">LEARN MORE</a>
        </div>
      </div>
      <!-- <div class="swiper-slide">
        <div class="swiper-image" style="background-image: url(https://img.mayun.xin/upload/2020032302/ee94182276d2b6ea0d82210d21066f6e.jpg?x-oss-process=image/resize,w_2000,limit_0/format,jpg/quality,Q_90);"></div>
        <div class="swiper-content container">
                <p class="slogan">Chinese Online COVID-19 Consultation</p>
                <p class="slogan-description">Hero Doctors Who Came  Back from the Front Line are <br/>Helping the Fight against COVID-19</p>
                <a href="https://covid-19.alibabacloud.com/#J_6259459130" class="btn btn-round slogan-info" role="button">LEARN MORE</a>
        </div>
      </div> -->
      <div class="swiper-slide">
        <div class="swiper-image mask" style="background-image: url(https://img.mayun.xin/upload/2020031723/3e084fc22806bc14657a41b0275a0c5b.jpg?x-oss-process=image/resize,w_2000,limit_0/format,jpg/quality,Q_90);"></div>
        <div class="swiper-content container">
                <p class="slogan" >Sharing and Collaboration are the Best Prescription</p>
                <p class="slogan-description">Financial Aid Programme for the Control and Prevention of COVID-19</p>
                <a href="/program/covid-19/supplies" class="btn btn-round slogan-info" role="button">LEARN MORE</a>
        </div>
	    </div>
	</div>
	<div class="swiper-pagination"></div>
  </div>

    <div class="page-content" style="margin-top: -60px">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>