<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- <div class="index-banner">
        <div class="slide-image" style="background-image: url(https://img.mayun.xin/upload/2020031606/ea736caee7c07d6fbaed0b42a059cdd1.JPG?x-oss-process=image/resize,w_1600,limit_0/format,jpg/quality,Q_90);"></div>
            <div class="slide-content container">
                <p class="slogan" >Sharing and Cooperation is the Best Prescription</p>
                <p class="slogan-description">Financial Aid Programme for the Control and Prevention of COVID-19</p>
                <a href="/program/covid-19/fund" class="btn btn-round slogan-info" role="button">LEARN MORE</a>
            </div>
        </div>
    </div> -->

    
<div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-image mask" style="background-image: url(https://img.mayun.xin/upload/2020031606/ea736caee7c07d6fbaed0b42a059cdd1.JPG?x-oss-process=image/resize,w_1600,limit_0/format,jpg/quality,Q_90);"></div>
		<div class="swiper-content container">
            <p class="slogan" >Sharing and Cooperation is the Best Prescription</p>
            <p class="slogan-description">Financial Aid Programme for the Control and Prevention of COVID-19</p>
            <a href="/program/covid-19/fund" class="btn btn-round slogan-info" role="button">LEARN MORE</a>
		</div>
	  </div>
      <!-- <a class="swiper-slide">
        <div class="swiper-image" style="background-image: url(https://img.mayun.xin/upload/2020031709/b8b62518694bf0aae26cc9b7c0e17050.jpg?x-oss-process=image/resize,w_1800);"></div>
		<div class="swiper-content container">
            <p class="slogan" ></p>
            <p class="slogan-description"></p>
		</div>
      </a> -->
	</div>
	<div class="swiper-pagination"></div>
  </div>

    <div class="page-content" style="margin-top: -60px">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>