---
layout: default
---

<div class="banner" style="background-image: url('{{page.cover}}?x-oss-process=image/resize,w_700/')">
  <div class="banner-content" style="background: rgba(54,61,77,.7);">
	  <div class="container">
	      <h2 style="color: #fff;">{{ page.title }}</h2>
	      <p style="color: #fff; font-size: 15px;">{% if page.author %}{{ page.author }} • {% endif %}{{ page.date | date: "%Y-%m-%d" }}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
	  </div>
  </div>
</div>

<div class="container page">
	<div class="post">
	  <article class="post-content">
	    {{ content }}
	  </article>

	</div>
</div>
