---
layout: default
---

{% include banner.html %}

<div class="container page page-programs">
  <div class="row">
  	<div class="left sidebar">
      <div class="cbox">
    		<ul>
          {% for domain in site.data.programs %}
          <li>
            <a data-scroll-target="section" href="#domain-{{ domain.title }}">
              <i class="fa fa-pencil-square-o"></i>{{ domain.title }}<i class="fa fa-chevron-right right-arrow"></i>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

  	</div>
  	<div class="right main-content">
      <div class="featured-program">
        <img src="https://img.mayun.xin/upload/2020031410/07c11c7b48ec169709d455340d33450a.jpg?x-oss-process=image/crop,w_1600,h_300,limit_0/format,jpg/quality,Q_90/contrast,-90"/>
      </div>

      {% for domain in site.data.programs %}
      <div class="program-section" data-scroll-flag="section-1" id="domain-{{ domain.title }}">
        <div class="heading">
          <h2>{{ domain.title }}</h2>
          <p>{{ domain.vision }}</p>
        </div>
        {% for program in domain.members %}
          <div class="program-item">
            <div class="cover" style="background-image: url('{{ program.cover }}')"></div>
            <div class="content">
              <h3 class="title">{{ program.title }}</h3>
              <p class="description">{{ program.intro }}</p>
              {% if program.link %}
                <a class="btn" href="{{ program.link }}">Learn More</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      {% endfor %}
      <article class="post-content">
	    	{{ content }}
	  	</article>
  	</div>
  </div>

</div>
