---
layout: default
---

{% include banner.html %}

<div class="container page page-programs">
  	<div class="left main-content">

      <a class="featured-program" href="/program/covid-19/fund">
        <img class="pc" src="https://img.mayun.xin/upload/2020031616/157185b71b04b2689ff676e21cbe3650.jpg"/>
        <img class="mobile" src="https://img.mayun.xin/upload/2020031609/ad7020bf394fb69e1ef1644b3246d8b5.jpg"/>
      </a>

      {% for domain in site.data.programs %}
      <div class="program-section" data-scroll-flag="section-1" id="field-{{ domain.label }}">
        <div class="heading">
          <h2>{{ domain.title }}</h2>
          <p>{{ domain.vision }}</p>
        </div>
        {% for program in domain.members %}
          <div class="program-item">
            {% if program.video %}
              <video class="cover" width="360" height="240" controls="false" poster="https://img.mayun.xin/upload/2020031517/050855c0714cd2e09692e9cf91ea2ab4.JPG">
                <source src="https://vod.mayun.xin/1d39dd536df34c23aae02e95f1b667e5/f57ef1609fe64857a5c408b5d336e25d-ad9559b7bee8c95c9b77caa9b69bb4d1-sd.mp4" type="video/mp4">
              </video>
            {% else %}
              <div class="cover" style="background-image: url('{{ program.cover }}')" data-toggle="modal" data-target="#myModal"></div>
            {% endif %}
            <div class="content">
              <h3 class="title">{{ program.title }}</h3>
              {% if program.slogan %}
                <p class="slogan">{{ program.slogan }}</p>
                {% endif %}
              <p class="description">{{ program.intro }}</p>
              {% if program.link %}
                <a class="btn" href="{{ program.link }}">Learn More</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      {% endfor %}
      <article class="post-content">
        {{ content }}
      </article>
    </div>

    <div class="right sidebar" style="display: none;">
      <div class="cbox">
    		<ul>
          {% for domain in site.data.programs %}
          <li>
            <a data-scroll-target="section" href="#domain-{{ domain.title }}">
              <i class="fa fa-pencil-square-o"></i>{{ domain.title }}<i class="fa fa-chevron-right right-arrow"></i>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>
    

</div>
